<div class="recognition-header">
  <h2>История</h2>
  <button class="upload-btn" (click)="showModal = true">Загрузить фотоматериалы</button>
</div>

<table class="data-table">
  <thead>
    <tr>
      <th>№</th>
      <th>Дата загрузки</th>
      <th>Фото</th>
      <th>Адрес</th>
      <th>Координаты</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{ row.id }}</td>
      <td>{{ row.date }}</td>
      <td>{{ row.photo_url }}</td>
      <td>{{ row.address }}</td>
      <td>
        <a [routerLink]="['/map']" [queryParams]="{ lat: row.lat, lon: row.lot }">
          {{ row.lat }} {{ row.lot }}
        </a>
      </td>

      <td>Готово|в обработка</td>
    </tr>
  </tbody>
</table>

<!-- Модалка -->
<app-upload-modal
  *ngIf="showModal"
  (close)="showModal = false"
  (uploaded)="handleFile($event)">
</app-upload-modal>

