<div class="layout">
  <header class="header">
    <div class="header-left">
      <h1>
        ЛИДЕРЫ<br />
        ЦИФРОВЫХ<br />
        ТРАНСФОРМАЦИЙ
      </h1>
    </div>

    <div class="header-actions">
      <button class="header-btn request">Запрос</button>
      <button class="header-btn history" routerLink="/recognition">История запросов</button>
      <div class="profile-circle">{{ usernameFirstLetter }}</div>
    </div>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
